@font-face {
  font-family: "UI Sans_v9";
  src:
    local("UI Sans_v9"),
    url("/src/assets/ui-sans-v9-regular.woff2") format("woff2");
}

@font-face {
  font-family: "UI Sans_v9 Bold";
  src:
    local("UI Sans_v9 Bold"),
    url("/src/assets/ui-sans-v9-bold.woff2") format("woff2");
}

:root {
  box-sizing: border-box;
  font-family: 'UI Sans_v9', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100vh;
  color: #808893;
  background-color: #FFFFFF;
}

*, *:before, *:after {
  box-sizing: inherit;
}